.mat-drawer-container {
    background-color: white;
    min-height: calc(100vh - 90px);
}  

.sidebar-menu {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(223, 223, 223);
    z-index: -1;
}

.example-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.example-sidenav {
    border: none;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: #333;
    background-color: transparent;
    border: 0;
    flex-direction: row-reverse;
}

.fa-ellipsis-v {
    font-size: 18px;
}

.bi-person-fill-add, .bi-clipboard-data, .bi-cash-coin, .bi-box-arrow-left{
    font-size: 22px;
}

.mat-drawer.mat-drawer-side {
    width: 300px;
}

.sidebar-menu-item-a {
    text-decoration: none;
    color: #333;
}

.sidebar-menu-item {
    margin-top: 20px;
    padding: 5px 10px;
    height: 38px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.sidebar-menu-item:hover {
    cursor: pointer;
    background-color: #70578b;
    a{
        color: white;
    }

    .bi-person-fill-add, .bi-cash-coin, .bi-clipboard-data, .bi-box-arrow-left  {
        color: white;
    }
}

.active-list-item {
    background-color: #70578b;
    a{
        color: white;
    }

    .bi-person-fill-add, .bi-cash-coin, .bi-clipboard-data, .bi-box-arrow-left {
        color: white;
    }
    
}

.container {
    width: 100vh;
    width: 100%;
}

.mt-100 {
    margin-top: 100%;
}