<app-header (changeOpened)="opened = !opened"></app-header>

<mat-drawer-container>
    <mat-drawer
      #drawer
      class="example-sidenav"
      [(opened)]="opened"
      [mode]="menuMode"
    >
      <div class="sidebar-menu py-5">
        <ul class="list-unstyled ps-0">
          <li>
            <div
              class="sidebar-menu-item"
              routerLink="/home/addressee"
              routerLinkActive="active-list-item"
            >
              <i class="bi bi-person-fill-add ps-2"></i>
              <a class="sidebar-menu-item-a ps-2">Agregar Destinatario</a>
            </div>
          </li>
          <li>
            <div
              class="sidebar-menu-item"
              routerLink="/home/transfer"
              routerLinkActive="active-list-item"
            >
              <i class="bi bi-cash-coin ps-2"></i>
              <a class="sidebar-menu-item-a ps-2">Transferencia</a>
            </div>
          </li>
          <li class="mb-1">
            <div
              class="sidebar-menu-item"
              routerLink="/home/record"
              routerLinkActive="active-list-item"
            >
              <i class="bi bi-clipboard-data ps-2"></i>
              <a class="sidebar-menu-item-a ps-2">Historial</a>
            </div>
          </li>
          <li class="mb-1">
            <div
              class="sidebar-menu-item mt-100"
              routerLink="/auth/login"
              routerLinkActive="active-list-item"
              (click)="signOut()"
            >
              <i class="bi bi-box-arrow-left ps-2"></i>
              <a class="sidebar-menu-item-a ps-2"> Cerrar sesión </a>
            </div>
          </li>
        </ul>
      </div>
    </mat-drawer>
  
    <div class="m-5">
      <router-outlet> </router-outlet>
    </div>
  </mat-drawer-container>
  