<div class="container-background">
        
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 login-card py-4">
        <h4 class="fw-bold text-center title">Iniciar sesión</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <label for="rut">Rut</label>
            <input
              name="rut"
              type="rut"
              class="form-control"
              formControlName="rut"
              id="rutInput"
              aria-describedby="rutHelp"
              placeholder="Ejem: 11111111-1"
              required
            />
          </div>
          <div
            *ngIf="loginForm.get('rut')?.hasError('required') && loginForm.get('rut')?.touched"
            class="mb-2 mt-1 text-danger"
          >
            El rut es requerido.
          </div>

          <div
            *ngIf="loginForm.get('rut')?.hasError('invalidRut') && loginForm.get('rut')?.touched"
            class="mb-2 mt-1 text-danger"
          >
            Rut con formato incorrecto, por favor escríbelo sin puntos y con guion.
          </div>

          <div class="mb-3 mt-3">
            <label for="password">Contraseña</label>
            <input
              name="password"
              type="password"
              class="form-control"
              formControlName="password"
              id="passwordInput"
              aria-describedby="emailHelp"
              placeholder="Contraseña"
              autocomplete="off"
              required
            />
          </div>

          <div class="w-100">
            <button class="btn btn btn-primary w-100" type="submit">
              Ingresar
            </button>
            <p class="text-center pt-2 m-0">¿No tienes cuenta? 
                <a class="fw-bold cursor-pointer" (click)="toRegister()">REGISTRATE</a></p>
          </div>
        </form>
      </div>
</div>