.container-background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #53357d 0%, #b556c7 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    padding-right: min(50px, 5%);
    padding-left: min(50px, 5%);
    background-color: white;
    border-radius: 8px;
    max-width: 70%;

    .title {
        font-size: 20px;
    }

    .btn-registro {
        max-width: 360px;
    }

    input {
        min-width: 150px;
        border: solid 1px #e1e1e1;
        font-size: 15px;
    }

}
