<div class="container-background">
        
    <div class="col-lg-6 col-md-8 col-sm-10 register-card py-4">
        <h4 class="fw-bold text-center title">Registro</h4>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
        
          <div class="row gy-2 gx-3 pb-3">
            <div class="col-md-6">
                <label for="rut">Rut</label>
                <input
                    name="rut"
                    type="text"
                    class="form-control"
                    formControlName="rut"
                    aria-describedby="rutHelp"
                    placeholder="Ejem: 11111111-1"
                    required
                />
                <div *ngIf="getErrorsForm('rut')" class="mt-1 text-danger">
                    El rut es requerido.
                </div>

                <div
                    *ngIf="getErrorFormatRut()"
                    class="mb-2 mt-1 text-danger"
                >
                    Rut con formato incorrecto, por favor escríbelo sin puntos y con guion.
                </div>
            </div>
            
            <div class="col-md-6">
                <label for="name">Nombre</label>
                <input
                    name="name"
                    type="text"
                    class="form-control"
                    formControlName="name"
                    aria-describedby="nameHelp"
                    placeholder="Nombre"
                    required
                />
                <div *ngIf="getErrorsForm('name')" class="mt-1 text-danger">
                    El nombre es requerido.
                </div>
            </div>
            <div class="col-md-6">
                <label for="email">Correo</label>
                <input
                    name="email"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    aria-describedby="emailHelp"
                    placeholder="ejem@email.com"
                    required
                />
                <div *ngIf="getErrorsForm('email')" class="mt-1 text-danger">
                    El correo es requerido.
                </div>
            </div>
            <div class="col-md-6">
                <label for="phone">Numero de teléfono</label>
                <input
                    name="phone"
                    type="tel"
                    class="form-control"
                    formControlName="phone"
                    placeholder="Ejem: 960582456"
                    required
                />
                <div *ngIf="getErrorsForm('phone')" class="mt-1 text-danger">
                    El numero es requerido.
                </div>
            </div>
            <div class="col-md-6">
                <label for="password">Contraseña</label>
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    formControlName="password"
                    aria-describedby="passwordHelp"
                    placeholder="Contraseña"
                    required
                />
                <div *ngIf="getErrorsForm('password')" class="mt-1 text-danger">
                    La contraseña es requerida.
                </div>
            </div>
          </div>
           

          <div class="d-flex flex-column align-items-center w-100">
            <button class="btn btn btn-primary w-100 btn-registro" type="submit">
              Registrar
            </button>
            <p class="text-center pt-2 m-0">¿Ya tienes cuenta? 
                <a class="fw-bold cursor-pointer" (click)="toLogin()">INICIA SESIÓN</a></p>
          </div>
        </form>
      </div>
</div>