<h2>Historial De Transferencias</h2>

<div class="example-container tw-mx-auto tw-w-full tw-bg-white tw-px-10">
    <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nombreDestinatario">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Nombre Destinatario
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.nameAddressee}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rut">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                RUT
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{row.rut}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="banco">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Banco
            </mat-header-cell>

            <mat-cell *matCellDef="let row" class="text-truncate p-2">
                {{row.bank}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoCuenta">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Tipo De Cuenta
            </mat-header-cell>

            <mat-cell *matCellDef="let row" class="text-truncate p-2">
                {{row.accountType}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Monto
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{row.amount}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha
            </mat-header-cell>

            <mat-cell *matCellDef="let row">
                {{row.date}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>