.navbar-dashboard {
    display: flex;
    height: 90px;
    box-shadow: 0 2px 2px #00000026;
    background-color: #1a1a1a;
    z-index: 2;
    position: relative;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  p {
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 0;
  }
}


.btn-logout {
  border: none;
  background-color: #2cdbeb;
  color: white;
  border-radius: 6px;
}

.bi-list, .bi-box-arrow-right {
    color: #b28ed8;
    font-size: 34px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}