<header class="navbar-dashboard">
    <div class="navbar-content">
        <div class="mx-4 d-flex align-items-center">
            <i (click)="changeOpenedValue()" class="bi bi-list cursor-pointer"></i>            
        </div>

        <div class="user-info">
            <div class="ms-2">
                <img [src]="user.photo" alt="" width="32" height="32" class="rounded-circle me-2" />
            </div>
            <p>
                {{ user.name | titlecase }} 
            </p>
            <p class="pe-3">
                &nbsp;/ {{ user.balance | currency:'CLP' }}
            </p>
            <div >
                <i class="bi bi-box-arrow-right cursor-pointer" (click)="signOut()"></i>
            </div>
        </div>
    </div>
</header>