<h2>Transferir</h2>

<div>
    <div class="row gy-2 gx-0 pb-3">
        <div class="col-lg-6 col-xl-3 col-sm-8">
            <label for="rut">Rut Destinatario</label>
            <div class="input-group">
                <input
                    name="rut"
                    type="text"
                    class="form-control"
                    aria-describedby="rutHelp"
                    placeholder="Ejem: 11111111-1"
                    [formControl]="rut"
                    required
                    (keyup.enter)="getAddressee()"
                />
                <button class="btn btn-primary" type="button" (click)="getAddressee()">Buscar</button>
            </div>
            <div
                *ngIf="validateRequiredRut()"
                class="mb-2 mt-1 text-danger"
                >
                El rut es requerido.
            </div>

            <div
                *ngIf="validateFormatRut()"
                class="mb-2 mt-1 text-danger"
            >
                Rut con formato incorrecto, por favor escríbelo sin puntos y con guion.
            </div>
        </div>
        <div class="info-transfer mb-2 mt-2">
            <h4>Detalle Destinatario: </h4>
            <p>Rut: {{addressee?.rut}}</p>
            <p>Nombre: {{addressee?.name}}</p>
            <p>Banco: {{addressee?.bank}}</p>
            <p>Tipo de cuenta: {{addressee?.accountType}}</p>
        </div>
        <div class="col-lg-6 col-xl-3 col-sm-8">
            <label for="rut">Monto de la transferencia</label>
            <input
                name="amount"
                type="number"
                class="form-control"
                aria-describedby="amountHelp"
                required
                [formControl]="amount"
            />
            <div
                *ngIf="(amount.hasError('min') || amount.hasError('required')) && amount.touched"
                class="mb-2 mt-1 text-danger"
                >
                El monto debe ser mayor a 0.
            </div>
        </div>
        <div class="pt-2">
            <button class="btn btn-primary" type="button" (click)="confirmTransfer()">
                Transferir
            </button>
        </div>
    </div>
</div>
