<h2>Agregar Destinatario</h2>

<div>
    <form [formGroup]="addresseeForm" (ngSubmit)="addAddressee()">
        <div class="row gy-2 gx-3 pb-3">
            <div class="col-md-6">
                <label for="rut">Rut</label>
                <input
                    name="rut"
                    type="text"
                    class="form-control"
                    formControlName="rut"
                    aria-describedby="rutHelp"
                    placeholder="Ejem: 11111111-1"
                    required
                />
                <div *ngIf="getErrorsForm('rut')" class="mt-1 text-danger">
                    El rut es requerido.
                </div>
                <div
                    *ngIf="getErrorFormatRut()"
                    class="mb-2 mt-1 text-danger"
                >
                    Rut con formato incorrecto, por favor escríbelo sin puntos y con guion.
                </div>
            </div>
            <div class="col-md-6">
                <label for="name">Nombre</label>
                <input
                    name="name"
                    type="text"
                    class="form-control"
                    formControlName="name"
                    aria-describedby="nameHelp"
                    placeholder="Nombre"
                    required
                />
                <div *ngIf="getErrorsForm('name')" class="mt-1 text-danger">
                    El nombre es requerido.
                </div>
            </div>
            <div class="col-md-6">
                <label for="email">Correo</label>
                <input
                    name="email"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    aria-describedby="emailHelp"
                    placeholder="ejem@email.com"
                    required
                />
                <div *ngIf="getErrorsForm('email')" class="mt-1 text-danger">
                    El correo es requerido.
                </div>
            </div>
            <div class="col-md-6">
                <label for="phone">Numero de teléfono</label>
                <input
                    name="phone"
                    type="tel"
                    class="form-control"
                    formControlName="phone"
                    placeholder="Ejem: 960582456"
                    required
                />
                <div *ngIf="getErrorsForm('phone')" class="mt-1 text-danger">
                    El numero es requerido.
                </div>
            </div>

            <div class="col-md-6">
                <label for="bank">Banco</label>
                <select name="bank" id="bank" formControlName="bank" class="form-select">
                  <option selected hidden value="">Seleciona un Banco</option>
                  <option *ngFor="let bank of banks" [ngValue]="bank.name">
                    {{ bank.name }}
                  </option>
                </select>
                <div *ngIf="getErrorsForm('bank')" class="mt-1 text-danger">
                    Selecciona un tipo de banco.
                </div>
            </div>

            <div class="col-md-6">
                <label for="accountType">Tipo de cuenta</label>
                <select name="accountType" id="accountType" formControlName="accountType" class="form-select">
                  <option selected hidden value="">Tipo de cuenta</option>
                  <option *ngFor="let type of accountType" [ngValue]="type">
                    {{ type }}
                  </option>
                </select>
                <div *ngIf="getErrorsForm('accountType')" class="mt-1 text-danger">
                  Selecciona un tipo de cuenta.
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn btn-primary btn" type="submit">
              Registrar
            </button>
          </div>
    </form>
</div>